body {
  font-family: 'Public Sans', sans-serif;
  background-color: #344265;
  margin: 0;
  .main-container {
    width: 1110px;
  }
  a {
    text-decoration: none;
  }
}
.header {
  display: flex;
  justify-content: center;
  padding: 18px 0 24px;
  .main-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 7px;
    .logo {
      grid-column: 1;
      grid-row: 1;
    }
    .search {
      grid-column: 4/6;
      grid-row: 1;
      position: relative;
      width: 282px;
      input {
        width: 100%;
        height: 39px;
        border-radius: 10px;
        overflow: hidden;
        padding-left: 16px;
        outline: none;
        border: none;
      }
      a {
        display: block;
        position: absolute;
        right: 12px;
        top: 10.5px;
        bottom: 10.5px;
      }
    }
    .phone-number {
      grid-column: 9;
      grid-row: 1;
      color: #fff;
      font-size: 18px;
      line-height: 47px;
      font-weight: 800;
      img {
        margin-right: 6px;
      }
    }
    .nav {
      grid-column: 1/7;
      grid-row: 2;
      display: flex;
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
        align-self: flex-end;
        li {
          list-style-type: none;
          margin: 0;
          color: #fff;
        }
      }
    }
    .book-btn {
      grid-column: 9;
      grid-row: 2;
      img {
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
}
.main {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  section {
    display: flex;
    width: 1275px;
    justify-content: space-between;
    margin-right: -165px;
    .container {
      h1 {
        margin: 48px 0 16px;
        font-weight: 800;
        font-size: 40px;
        color: #344265;
      }
      h2 {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 32px 0;
        color: #485982;
      }
      ul {
        padding: 0;
        margin: 0 0 40px 0;
        li {
          color: #5F719F;
          list-style-type: none;
          margin-bottom: 20px;
          font-size: 16px;
          line-height: 20px;
          font-weight: 500;
          img {
            margin-right: 9px;
            vertical-align: center;
          }
        }
      }
      .request-btn {
        display: block;
        background-color: #485982;
        border-radius: 12px;
        color: #fff;
        width: 164px;
        padding: 9px 22px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        img {
          margin-right: 9px;
          vertical-align: center;
        }
      }
    }
    .main-img {

    }
  }
}
.footer {
  display: flex;
  justify-content: center;
}