body {
  font-family: "Public Sans", sans-serif;
  background-color: #344265;
  margin: 0;
}
body .main-container {
  width: 1110px;
}
body a {
  text-decoration: none;
}
body ul {
  padding: 0;
}
body ul li {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: center;
  padding: 18px 0 24px;
}
.header .main-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 7px;
}
.header .main-container .logo {
  grid-column: 1;
  grid-row: 1;
}
.header .main-container .search {
  grid-column: 4/6;
  grid-row: 1;
  position: relative;
  width: 282px;
}
.header .main-container .search input {
  width: 100%;
  height: 39px;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 16px;
  outline: none;
  border: none;
}
.header .main-container .search a {
  display: block;
  position: absolute;
  right: 12px;
  top: 10.5px;
  bottom: 10.5px;
}
.header .main-container .phone-number {
  grid-column: 9;
  grid-row: 1;
  color: #fff;
  font-size: 18px;
  line-height: 47px;
  font-weight: 800;
}
.header .main-container .phone-number img {
  margin-right: 6px;
}
.header .main-container .nav {
  grid-column: 1/7;
  grid-row: 2;
  display: flex;
}
.header .main-container .nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  align-self: flex-end;
}
.header .main-container .nav ul li {
  margin: 0;
  color: #fff;
}
.header .main-container .book-btn {
  grid-column: 9;
  grid-row: 2;
}
.header .main-container .book-btn img {
  border-radius: 10px;
  overflow: hidden;
}

.main {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.main section {
  display: flex;
  width: 1275px;
  justify-content: space-between;
  margin-right: -165px;
}
.main section .container h1 {
  margin: 48px 0 16px;
  font-weight: 800;
  font-size: 40px;
  color: #344265;
}
.main section .container h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 32px 0;
  color: #485982;
}
.main section .container ul {
  margin: 0 0 40px 0;
}
.main section .container ul li {
  color: #5F719F;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.main section .container ul li img {
  margin-right: 9px;
  vertical-align: center;
}
.main section .container .request-btn {
  display: block;
  background-color: #485982;
  border-radius: 12px;
  color: #fff;
  width: 164px;
  padding: 9px 22px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}
.main section .container .request-btn img {
  margin-right: 9px;
  vertical-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  color: #F8F8F8;
  padding: 56px 0 16px;
}
.footer .main-container {
  display: flex;
  flex-wrap: wrap;
}
.footer .main-container .footer-logo-container {
  width: 100%;
  margin-bottom: 15px;
}
.footer .main-container .customer, .footer .main-container .help {
  margin-left: 80px;
}
.footer .main-container .social, .footer .main-container .copyrights {
  width: 100%;
}
.footer .main-container h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 16px 0;
}
.footer .main-container li {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer .main-container .contacts {
  margin-top: 50px;
}
.footer .main-container .contacts .phone-number {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 800;
}
.footer .main-container .contacts .phone-number img {
  margin-right: 6px;
}
.footer .main-container .contacts .address {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
}
.footer .main-container .contacts .email {
  margin-bottom: 46px;
  font-size: 16px;
  font-weight: 500;
}
.footer .main-container .about {
  margin-left: auto;
}
.footer .main-container .social {
  display: flex;
  justify-content: space-between;
}
.footer .main-container .social .book-btn img {
  border-radius: 12px;
  overflow: hidden;
}
.footer .main-container .social ul {
  display: flex;
}
.footer .main-container .social ul li {
  margin-left: 20px;
}
.footer .main-container .copyrights {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
